.tagsContainer{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0;
}

.tag{
  min-width: 84px;
  border-radius: 5px;
  padding: 3px 15px;
  background-color: #FF6060;
  color: #FFF;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
}

/*  === TABLET ===  */
@media screen and (min-width: 550px){
  .tag{
    min-width: 95px;
    font-size: 12px;
  }
}

/*  === DESKTOP ===  */
@media screen and (min-width: 992px){
  .tag{
    min-width: 115px;
    font-size: 14px;
  }
}