.detailsContainer{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #FF6060;
}

.headerContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.headerTitle{
  font-size: 18px;
  font-weight: 500;
}

.headerLocation{
  font-size: 14px;
  font-weight: 500;
}

.hostContainer{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

}

.hostInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.hostPicture{
  border-radius: 50%;
  width: 32px;
}

.hostName{
  font-size: 12px;
  font-weight: 500;
}

.dropdownContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*  === TABLET ===  */
@media screen and (min-width: 550px){
  .headerTitle {
    font-size: 25px;
  }

  .headerLocation {
    font-size: 16px;
  }

  .hostPicture {
    width: 50px;
  }

  .hostName {
    font-size: 16px;
  }
}

/*  === DESKTOP ===  */
@media screen and (min-width: 992px){
  .mainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .detailsContainer {
    max-width: 1440px;
    width: 95%;
    gap: 30px;
  }
  .headerTitle {
    font-size: 36px;
  }
  
  .headerLocation {
    font-size: 18px;
  }
  
  .hostContainer{
    flex-direction: column;
    align-items: end;
    gap: 20px;
  }

  .hostPicture {
    width: 64px;
  }
  
  .hostName {
    font-size: 18px;
  }

  .dropdownContainer{
      flex-direction: row;
  }
}