.mainContainer{
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
}

.cardGrid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 15.9375rem;
  grid-row-gap: 1.25rem;
  width: 90%;
  margin: auto;
}


/*  === TABLET ===  */
@media screen and (min-width: 550px) {
  .cardGrid {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
    }

    .mainContainer {
      gap: 40px;
    }
}

/*  === DESKTOP ===  */
@media screen and (min-width: 992px){
    .cardGrid {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 50px;
        width: 95%;
        max-width: 1440px;
        margin: auto;
        padding: 56px 50px;
        border-radius: 25px;
        background-color: #F6F6F6;
      }
}